*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
/DCLPlatform/DCLRun.dsk
/DCLPlatform/lib/
/DCLPlatform/*.dbg
/DCLPlatform/backup/
/DCLPlatform/*.~*
/DCLPlatform/DCLRun.lpi
/DCLPlatform/SQLMon.txt
/DCLPlatform/Dialogs.ini
/DCLPlatform/*.lps
