*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
/DCLPlatform/DCLRun.dsk
/lib/
*.dbg
/backup/
/*.~*
/DCLPlatform/DCLRun.lpi
/DCLPlatform/SQLMon.txt
/DCLPlatform/Dialogs.ini
*.lps
/DCLPlatform/*.ini
/Doc/*.pdf
/DCLPlatform/*.odt
/DCLPlatform/*.FDB
*.docx
*_0.dproj
/DCLPlatform/lib/
/DCLPlatform/backup/
